- if f.object.last_version_change_user.present?
	= "#{t('last_change_by')}:"
	= f.object.last_version_change_user.name
- else
	Deleted user
= "#{l f.object.last_version_change_date, :format => :short}" if f.object.last_version_change_date.present?	
