- provide(:title, 'Page Not Found')

.container-block			
	%article.container-fluid
		.content-block.row
			.col-md-3
			.col-md-6
				%h1 Page Not Found
				%p The page you were looking for could not be located on this site.

			.col-md-3{ id: 'bn_anch' }
				=# render 'pages/banners'