- av_locales = (current_user.present? && current_user.locales.present? && current_user.locales.count > 0) ? current_user.locales : I18n.available_locales

= form_for [@book, @author] do |f| 
	= hidden_field_tag :redirect_to, params[:redirect_to] if params[:redirect_to].present?
	- if f.object.new_record?
		%legend= t(:author)
	- else
		%legend= "#{t(:author)}"
	= render 'shared/error_messages', object: f.object

	.row-fluid= render 'images', f: f, can_edit: true

	.row-fluid
		- av_locales.each do |locale| 
			- I18n.locale = locale    
			%div{ class: "span#{12/av_locales.count}"}
				%legend= locale

				.row-fluid
					.span10
						= f.label :name, class: 'control-label'
						.controls
							= f.text_field "name_#{locale}", class: 'span12'
					.span2
						= f.label :active, class: 'control-label'
						.controls
							= f.check_box "active_#{locale}", class: 'span12'

				.row-fluid
					.span12
						= f.label :email, class: 'control-label'
						.controls
							= f.text_field "email_#{locale}", class: 'span12'

				.row-fluid
					.span12
						= f.label :web_site, class: 'control-label'
						.controls
							= f.text_field "web_site_#{locale}", class: 'span12'


						


	.form-actions
		.btn-overlay
			= f.button t("_BTN_SAVE"), class: "btn btn-primary"
			= f.button t('_BTN_SAVE_AND_CONTINUE'), class: 'btn btn-success', name: 'continue', value: 'continue'
			= link_to t("_BTN_CANCEL"), books_path, class: "btn" 


- content_for :javascript do 
	=# stylesheet_link_tag    "redactor/redactor"
	=# javascript_include_tag "redactor/redactor"
	= javascript_include_tag "rhinobook/application"
	= stylesheet_link_tag    "rhinobook/statuses"
	

