- provide(:title, t(:authors))

.box-header
	%h2
		%i.fa-icon-book.align-justify
		%span.break
		= t(:authors)


.box-content
	.dataTables_wrapper
		.row-fluid
			.btn-overlay
				= link_to new_book_author_path(@book, redirect_to: params[:redirect_to]), class: 'btn btn-primary' do 
					%i.halflings-icon.plus
					= t(:_BTN_CREATE)

	%table.table.table-striped.tree
		%thead
			%tr
				%th{ width: "80%" }= t(:authors) 
				%th= t(:_ACTIONS) 
		%tbody
			- if @authors.any?
				- @authors.each do |item| 
					%tr
						%td= link_to item.name, edit_book_author_path(@book, item, redirect_to: params[:redirect_to])
						%td
							= link_to edit_book_author_path(@book, item, redirect_to: params[:redirect_to]), class: 'btn btn-danger btn-small' do
								%i.icon-edit
							= link_to book_author_path(@book, item), method: :delete, class: 'btn btn-danger btn-small', data: { confirm: t('_DELETE_CONFIRM') } do
								%i.icon-trash

