-# av_locales = (current_user.present? && current_user.locales.present? && current_user.locales.count > 0) ? current_user.locales : I18n.available_locales

= form_for @library do |f| 
	- if f.object.new_record?
		%legend= t(:library)
	- else
		%legend= "#{t(:library)}: \"#{@library.name}\""
	= render 'shared/error_messages', object: f.object

	.row-fluid
		.span4
			= f.label :name, class: 'control-label'
			.controls
				= f.text_field :name, class: 'span12'
		.span3
			= f.label :slug, class: 'control-label'
			.controls
				= f.text_field :slug, class: 'span12'

		.span3
			= f.label :domain_name, class: 'control-label'
			.controls
				= f.text_field :domain_name, class: 'span12'

		.span1
			= f.label :locale, class: 'control-label'
			.controls
				= f.select :locale, I18n.available_locales, class: 'span12'

		.span1
			= f.label :active, class: 'control-label'
			.controls
				= f.check_box :active, class: 'span12'

	.row-fluid
		.span11
			= f.label :descr, class: 'control-label'
			.controls
				= f.text_area :descr, class: 'span12'

	.row-fluid
		.span11
			= f.label :books, class: 'control-label'
			.controls
				= f.select :book_ids, Rhinobook::Book.all.map{|b| [b.name, b.id]}, {include_blank: true}, { multiple: true, class: 'span12 select2' }


	.form-actions
		.btn-overlay
			= f.button t("_BTN_SAVE"), class: "btn btn-primary"
			= f.button t('_BTN_SAVE_AND_CONTINUE'), class: 'btn btn-success', name: 'continue', value: 'continue'
			= link_to t("_BTN_CANCEL"), :libraries, class: "btn" 


- content_for :javascript do
	:css
		select {
			max-width: 100% !important;
		}
