- provide(:title, t(:library))

.box-header
	%h2
		%i.fa-icon-book.align-justify
		%span.break
		= t(:library)

.box-content
	.dataTables_wrapper
		.row-fluid
			.btn-overlay
				= link_to new_library_path, class: 'btn btn-primary' do 
					%i.halflings-icon.plus
					= t(:_BTN_CREATE)



	%table.table.table-striped.tree
		%thead
			%tr
				%th{ width: "80%" }= t(:library) 
				%th= t(:_ACTIONS) 
		%tbody
			- if @libraries.any?
				- @libraries.each do |item| 
					%tr
						%td= link_to item.name, edit_library_path(item)
						%td
							= link_to edit_library_path(item), class: 'btn btn-danger btn-small' do
								%i.icon-edit
							= link_to library_books_path(item), class: 'btn btn-danger btn-small' do
								%i.icon-book
							= link_to item, method: :delete, class: 'btn btn-danger btn-small', data: { confirm: t('_DELETE_CONFIRM') } do
								%i.icon-trash

