- av_locales = (current_user.present? && current_user.locales.present? && current_user.locales.count > 0) ? current_user.locales : I18n.available_locales

= form_for(@book) do |f| 
  - if f.object.new_record?
    %legend= t(:book)
  - else
    %legend= "#{t(:book)}: \"#{@book.name}\""
  = render 'shared/error_messages', object: f.object

  .row-fluid
    .span8
      = f.label :slug, class: 'control-label'
      .controls
        = f.text_field :slug, class: 'span12'

    .span4
      = f.label :libraries, class: 'control-label'
      .controls
        = f.select :library_ids, Rhinobook::Library.all.map{|l| [l.name, l.id]}, {include_blank: true}, { multiple: true, class: 'span12 select2' }

  .row-fluid
    - av_locales.each do |locale| 
      - I18n.locale = locale      
      %div{ class: "span#{12/av_locales.count}"}
        %legend= locale

        .row-fluid
          .span10
            .control-group
              = f.label :author, class: 'control-label'
              .controls
                - autor_val = @book.author.present? ? @book.author.name : ''
                = text_field_tag :author, autor_val, class: 'span9', disabled: true
                = link_to 'Set Author', book_authors_path(@book, redirect_to: request.fullpath), class: 'btn', style: 'position: absolute;' if !f.object.new_record?
          .span2
            = f.label :active, class: 'control-label'
            .controls
              = f.check_box "active_#{locale}"

        .row-fluid
          .span10
            .control-group
              = f.label :name, class: 'control-label'
              .controls
                = f.text_field "name_#{locale}", class: 'span11' 
          .span2
            = f.label :show_name, class: 'control-label'
            .controls
              = f.check_box "show_name_#{locale}"

        .control-group
          = f.label :descr, class: 'control-label'
          .controls
            = f.text_area "descr_#{locale}", class: 'span11' 
        %small= render 'rhinobook/shared/changed_by', f: f
        %br
        %br
            

  .row-fluid
    .span6
      - if f.object.image_ru.present?
        .book-cover
          = image_tag f.object.image_ru.thumb.url
          %a{href: "#", data: {behavior: "remove_image", remove_html: f.hidden_field(:remove_image_ru, value: true)}} 
            %span.halflings-icon.remove
      - else
        = f.file_field :image_ru  

    .span6
      - if f.object.image_en.present?
        .book-cover
          = image_tag f.object.image_en.thumb.url
          %a{href: "#", data: {behavior: "remove_image", remove_html: f.hidden_field(:remove_image_en, value: true)}} 
            %span.halflings-icon.remove
      - else
        = f.file_field :image_en  


  .form-actions
    .btn-overlay
      = f.button t("_BTN_SAVE"), class: "btn btn-primary"
      = f.button t('_BTN_SAVE_AND_CONTINUE'), class: 'btn btn-success', name: 'continue', value: 'continue'
      = link_to t("_BTN_CANCEL"), books_path, class: "btn" 

- content_for :javascript do
  :javascript
    $(document).on("click", "[data-behavior*=remove_image]", function(e) {
      e.preventDefault()
      
        $(this).parent().parent().append($(this).data("remove-html"))
        $(this).parent().remove() 
    });   
  :css
    .book-cover {
      position: relative;
    }
    .book-cover a {
      display: block;
      width: 14px;
      height: 17px;
      position: absolute;
      bottom: 0;
      background-color: gray;
    }   