- provide(:title, t(:_BOOKS))

.box-header
	%h2
		%i.fa-icon-book.align-justify
		%span.break
		= t(:_BOOKS)


.box-content
	.dataTables_wrapper
		.row-fluid
			.btn-overlay
				= link_to new_book_path, class: 'btn btn-primary' do 
					%i.halflings-icon.plus
					= t(:_BTN_CREATE)

				= link_to libraries_path, class: 'btn btn-primary' do 
					%i.fa-icon-book
					= t(:libraries)



	%table.table.table-striped.tree
		%thead
			%tr
				%th{ width: "80%" }= t(:_BOOKS) 
				%th= t(:_ACTIONS) 
		%tbody
			- if @books.any?
				- @books.each do |item| 
					%tr
						%td= link_to item.name, book_chapters_path(item)
						%td
							= link_to edit_book_path(item), class: 'btn btn-danger btn-small' do
								%i.icon-edit
							= link_to book_authors_path(item), class: 'btn btn-danger btn-small' do
								%i.icon-user
							= link_to book_domains_path(item), class: 'btn btn-danger btn-small', title: t('domains') do
								%i.icon-share
							= link_to book_reorder_pages_path(item), class: 'btn btn-danger btn-small', title: 'Reorder pages' do
								%i.icon-repeat
							- if item.can_edit?
								= link_to book_path(item), method: 'delete', class: 'btn btn-danger btn-small', data: { confirm: t('_DELETE_CONFIRM') } do
									%i.icon-trash


